/* 3d mixins */
/* end 3d mixins */
div.portfolio-wrap {
  color: #333333;
}
div.portfolio-wrap .portfolio-container {
  position: relative;
}
div.portfolio-wrap .portfolio-container.list-layout .list-layout-item {
  margin-bottom: 20px;
}
div.portfolio-wrap .portfolio-container.list-layout .list-layout-item:last-child {
  margin-bottom: 0;
}
div.portfolio-wrap .portfolio-container.list-layout .list-layout-item .inner-wrap {
  margin: 0 0 20px 0;
}
div.portfolio-wrap .portfolio-container.list-layout .list-layout-item .inner-wrap .media-content {
  width: 28%;
  margin-right: 2%;
  float: left;
}
div.portfolio-wrap .portfolio-container.list-layout .list-layout-item .inner-wrap .item-content {
  width: 70%;
  float: left;
}
div.portfolio-wrap .portfolio-container.justified-layout .portfolio-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  -webkit-align-items: stretch;
}
div.portfolio-wrap .portfolio-container.justified-layout .portfolio-list .justified-layout-item {
  position: relative;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
div.portfolio-wrap .portfolio-container.justified-layout .portfolio-list .justified-layout-item .inner-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: inherit;
}
div.portfolio-wrap .portfolio-container.justified-layout .portfolio-list .justified-layout-item .justified-image {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
div.portfolio-wrap .portfolio-container.loading-animation-fade .portfolio-list .portfolio-item .inner-wrap {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-fade .portfolio-list .portfolio-item.animate-cycle-show .inner-wrap {
  opacity: 0;
  filter: alpha(opacity=0);
}
div.portfolio-wrap .portfolio-container.loading-animation-fade .portfolio-list .portfolio-item.animate-cycle-hide .inner-wrap {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-scale .portfolio-list .portfolio-item .inner-wrap {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-scale .portfolio-list .portfolio-item.animate-cycle-show .inner-wrap {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
div.portfolio-wrap .portfolio-container.loading-animation-scale .portfolio-list .portfolio-item.animate-cycle-hide .inner-wrap {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-move-up .portfolio-list .portfolio-item .inner-wrap {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-move-up .portfolio-list .portfolio-item.animate-cycle-show .inner-wrap {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
}
div.portfolio-wrap .portfolio-container.loading-animation-move-up .portfolio-list .portfolio-item.animate-cycle-hide .inner-wrap {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-flip .portfolio-list {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
div.portfolio-wrap .portfolio-container.loading-animation-flip .portfolio-list .portfolio-item .inner-wrap {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-flip .portfolio-list .portfolio-item.animate-cycle-show .inner-wrap {
  -webkit-transform: rotateX(80deg);
  -ms-transform: rotateX(80deg);
  -o-transform: rotateX(80deg);
  transform: rotateX(80deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
div.portfolio-wrap .portfolio-container.loading-animation-flip .portfolio-list .portfolio-item.animate-cycle-hide .inner-wrap {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-helix .portfolio-list {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
div.portfolio-wrap .portfolio-container.loading-animation-helix .portfolio-list .portfolio-item .inner-wrap {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-helix .portfolio-list .portfolio-item.animate-cycle-show .inner-wrap {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
div.portfolio-wrap .portfolio-container.loading-animation-helix .portfolio-list .portfolio-item.animate-cycle-hide .inner-wrap {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-fall-perspective .portfolio-list {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
div.portfolio-wrap .portfolio-container.loading-animation-fall-perspective .portfolio-list .portfolio-item .inner-wrap {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
  -ms-transform: translateZ(0px) translateY(0px) rotateX(0deg);
  -o-transform: translateZ(0px) translateY(0px) rotateX(0deg);
  transform: translateZ(0px) translateY(0px) rotateX(0deg);
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
div.portfolio-wrap .portfolio-container.loading-animation-fall-perspective .portfolio-list .portfolio-item.animate-cycle-show .inner-wrap {
  -webkit-transform: translateZ(400px) translateY(300px) rotateX(-65deg);
  -ms-transform: translateZ(400px) translateY(300px) rotateX(-65deg);
  -o-transform: translateZ(400px) translateY(300px) rotateX(-65deg);
  transform: translateZ(400px) translateY(300px) rotateX(-65deg);
  opacity: 0;
  filter: alpha(opacity=0);
}
div.portfolio-wrap .portfolio-container.loading-animation-fall-perspective .portfolio-list .portfolio-item.animate-cycle-hide .inner-wrap {
  -webkit-transform: translateZ(-200px) translateY(-250px) rotateX(60deg);
  -ms-transform: translateZ(-200px) translateY(-250px) rotateX(60deg);
  -o-transform: translateZ(-200px) translateY(-250px) rotateX(60deg);
  transform: translateZ(-200px) translateY(-250px) rotateX(60deg);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
div.portfolio-wrap .portfolio-list {
  position: relative;
  min-height: 100px;
}
div.portfolio-wrap div.portfolio-item .inner-wrap {
  position: relative;
  overflow: hidden;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .media-content {
  position: relative;
  display: block;
  overflow: hidden;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .media-content img {
  width: 100%;
  height: auto;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .thumbnailset {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .thumbnailset li {
  float: left;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .thumbnailset li img {
  width: auto;
  height: auto;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .post-format {
  display: block;
  margin: 5px 0;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .links-container .item-link {
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 10px;
  margin: 2px;
  display: inline-block;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .links-container .item-link:hover {
  text-decoration: none;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .rollover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .table-display {
  display: table;
  width: 100%;
  height: 100%;
}
div.portfolio-wrap div.portfolio-item .inner-wrap .table-cell {
  display: table-cell;
  vertical-align: middle;
}
div.portfolio-wrap div.portfolio-item.simple-fade-hover .rollover-content {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
div.portfolio-wrap div.portfolio-item.simple-fade-hover .rollover-content:hover {
  opacity: 1;
}
div.portfolio-wrap div.portfolio-item.simple-scale-hover .media-content img {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
div.portfolio-wrap div.portfolio-item.simple-scale-hover .rollover-content {
  opacity: 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
div.portfolio-wrap div.portfolio-item.simple-scale-hover .rollover-content:hover {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.portfolio-filter {
  margin: 30px 0;
}

ul.filter {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}
ul.filter li {
  float: left;
  margin: 0 5px;
}
ul.filter li.active a {
  text-decoration: underline;
}
ul.filter li a {
  color: #333333;
  margin: 0 10px 0 0;
}
ul.filter li a:hover {
  text-decoration: underline;
}
ul.filter li a:last-child {
  margin: 0;
}

ul.order-filter {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
ul.order-filter > li {
  float: left;
  margin: 0 7px;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
  color: #333333;
}
ul.order-filter > li:hover {
  text-decoration: none;
}
ul.order-filter > li ul {
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background: #fff;
  list-style: none;
  margin: 0;
  padding: 10px 5px;
  z-index: 99;
}
ul.order-filter > li ul li {
  white-space: nowrap;
}
ul.order-filter > li ul li:hover {
  text-decoration: underline;
}
ul.order-filter > li ul li.active {
  display: none;
}
ul.order-filter > li span.current {
  margin-left: 5px;
}
ul.order-filter > li span.marker {
  position: absolute;
  display: block;
  top: 6px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #282828 transparent transparent transparent;
}
ul.order-filter > li.dropdown-state span.marker {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #282828 transparent;
}
ul.order-filter > li.dropdown-state ul {
  display: block;
}

.portfolio-pagination {
  margin: 40px 0 0 0;
}
.portfolio-pagination ul.page-link {
  list-style: none;
  margin: 0;
  display: inline-block;
  float: left;
  padding: 0 10px;
}
.portfolio-pagination ul.page-link li {
  float: left;
  margin: 0 2px;
}
.portfolio-pagination ul.page-link li.active a {
  text-decoration: underline;
}
.portfolio-pagination ul.page-link li a {
  line-height: 30px;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
}
.portfolio-pagination ul.page-link li a:hover {
  text-decoration: none;
}
.portfolio-pagination .page-nav {
  float: right;
  padding: 0 10px;
}
.portfolio-pagination .page-nav a {
  line-height: 30px;
  color: #fff;
  padding: 5px 10px;
  margin: 0 2px;
  text-decoration: none;
}
.portfolio-pagination .page-nav a:hover {
  text-decoration: none;
}

.portfolio-ajax-button {
  margin: 40px 0 20px 0;
  text-align: center;
}
.portfolio-ajax-button .load-more-button {
  display: inline-block;
}
.portfolio-ajax-button .load-more-button.disabled {
  -webkit-opacity: 0.3;
  opacity: 0.3;
}
.portfolio-ajax-button .load-more-button a {
  line-height: 30px;
  color: #fff;
  padding: 10px 30px;
  background: #333333;
  display: block;
}

body.single-portfolio article.type-portfolio .cherry-portfolio-single-post {
  color: #a4a4a4;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post a {
  color: #a4a4a4;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post figure.post-featured-image {
  margin: 0 0 20px 0;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post figure.post-featured-image img {
  width: 100%;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .post-title {
  color: #333333;
  margin: 0 0 20px 0;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .post-meta-container {
  margin: 15px 0 15px 0;
  padding: 5px 0 5px 0;
  border-top: 1px solid #dddcdc;
  border-bottom: 1px solid #dddcdc;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .post-meta-container .post-date {
  color: #f62e46;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .post-taxonomy-list {
  margin: 15px 0 15px 0;
  padding: 5px 0 5px 0;
  border-top: 1px solid #dddcdc;
  border-bottom: 1px solid #dddcdc;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .post-taxonomy-list span {
  color: #f62e46;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .external-link-button {
  border: 1px solid #dddcdc;
  padding: 10px 20px;
  display: inline-block;
  color: #f62e46;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .external-link-button span {
  margin-right: 5px;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .external-link-button:hover {
  text-decoration: none;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .embed-container {
  position: relative;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post .embed-container iframe {
  width: 100%;
  height: 500px;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post.cherry-portfolio-video-post .video-player-container {
  width: 100%;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post.cherry-portfolio-video-post .video-player-container .wp-video .mejs-poster {
  background-size: cover;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post.cherry-portfolio-gallery-post .swiper-container {
  margin-bottom: 40px;
}
body.single-portfolio article.type-portfolio .cherry-portfolio-single-post.cherry-portfolio-gallery-post .swiper-container .swiper-wrapper .swiper-slide .swiper-slide-image {
  width: 100%;
}

section.gallery-list .gallery-item span.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-shadow: inset 0px 0px 25px 3px transparent;
  box-shadow: inset 0px 0px 25px 3px transparent;
  transition: all 300ms ease-in-out;
}
section.gallery-list .gallery-item:hover span.cover {
  -webkit-box-shadow: inset 0px 0px 25px 3px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 25px 3px rgba(0, 0, 0, 0.75);
}

section.masonry-list {
  margin-bottom: 30px;
}
section.masonry-list section.masonry-item {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}

section.justified-list {
  margin-bottom: 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  -webkit-align-items: stretch;
}
section.justified-list section.justified-item {
  position: relative;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  height: 300px;
  margin: 5px;
}
section.justified-list section.justified-item .justified-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.cherry-portfolio-ajax-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.cherry-portfolio-ajax-loader .cherry-spinner {
  width: 90px;
  height: 90px;
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
  display: block;
  position: relative;
}

.cherry-spinner-double-bounce.cherry-spinner {
  position: relative;
}

.cherry-spinner-double-bounce .cherry-double-bounce1, .cherry-spinner-double-bounce .cherry-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #282828;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cherry-doubleBounce 2s infinite ease-in-out;
  animation: cherry-doubleBounce 2s infinite ease-in-out;
}

.cherry-spinner-double-bounce .cherry-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes cherry-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cherry-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*
====== Popap zoom effect ======
*/
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
