/* 3d mixins */
/* end 3d mixins */
/* 3d mixins */
/* end 3d mixins */
.projects-filters {
  margin: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #23282d;
  position: relative;
  z-index: 9; }

.projects-filters-list-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

ul.projects-filters-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.projects-filters-list li {
    float: left;
    margin-right: 20px; }
    ul.projects-filters-list li:last-child {
      margin-right: 0; }
    ul.projects-filters-list li.active span {
      color: #298ffc; }
    ul.projects-filters-list li span {
      margin: 0 10px 0 0;
      cursor: pointer; }
      ul.projects-filters-list li span:hover {
        color: #298ffc; }
      ul.projects-filters-list li span:last-child {
        margin: 0; }

.projects-order-filters-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto; }

ul.order-filters {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.order-filters > li {
    float: left;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%; }
    ul.order-filters > li:hover {
      text-decoration: none; }
    ul.order-filters > li ul {
      position: absolute;
      left: 0;
      background: #298ffc;
      list-style: none;
      margin: 0;
      padding: 10px 20px;
      min-width: 150px;
      z-index: 99;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: translateZ(-100px) translateY(50px) rotateX(-90deg);
      -ms-transform: translateZ(-100px) translateY(50px) rotateX(-90deg);
      transform: translateZ(-100px) translateY(50px) rotateX(-90deg);
      -webkit-transition: all 0.2s cubic-bezier(0.86, 0.17, 0.83, 0.57);
      transition: all 0.2s cubic-bezier(0.86, 0.17, 0.83, 0.57); }
      ul.order-filters > li ul li {
        white-space: nowrap;
        margin: 5px; }
        ul.order-filters > li ul li span {
          color: #fff; }
        ul.order-filters > li ul li.active {
          display: none; }
    ul.order-filters > li span.current {
      margin-left: 10px;
      color: #298ffc; }
    ul.order-filters > li.dropdown-state ul {
      -webkit-transform: translateZ(0) translateY(0) rotateX(0deg);
      -ms-transform: translateZ(0) translateY(0) rotateX(0deg);
      transform: translateZ(0) translateY(0) rotateX(0deg);
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transition: all 0.4s cubic-bezier(0.12, 0.51, 0.33, 1.14);
      transition: all 0.4s cubic-bezier(0.12, 0.51, 0.33, 1.14); }

/* 3d mixins */
/* end 3d mixins */
.projects-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0; }
  .projects-pagination ul.page-link {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    list-style: none;
    margin: 0; }
    .projects-pagination ul.page-link li {
      float: left;
      margin: 0 2px; }
      .projects-pagination ul.page-link li.active span {
        color: #298ffc; }
      .projects-pagination ul.page-link li span {
        line-height: 30px;
        color: #23282d;
        padding: 5px 10px;
        text-decoration: none;
        cursor: pointer; }
        .projects-pagination ul.page-link li span:hover {
          color: #298ffc; }
  .projects-pagination .page-navigation {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }
    .projects-pagination .page-navigation span {
      line-height: 30px;
      color: #23282d;
      padding: 5px 10px;
      margin: 0 2px;
      cursor: pointer; }
      .projects-pagination .page-navigation span:hover {
        color: #298ffc; }

.projects-container.grid-layout .projects-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .projects-container.grid-layout .projects-list .projects-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }

.projects-container.masonry-layout .projects-list .projects-item {
  display: inline-block; }

.projects-container.justified-layout .projects-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
.projects-container.justified-layout .projects-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: auto; }

.projects-container.cascading-grid-layout .projects-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch; }
.projects-container.cascading-grid-layout .projects-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: auto; }

.projects-container.list-layout .projects-list .projects-item {
  margin-bottom: 20px; }
.projects-container.list-layout .inner-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
.projects-container.list-layout .project-media {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: 30%;
  margin-right: 20px; }
.projects-container.list-layout .project-content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: 70%; }

/* 3d mixins */
/* end 3d mixins */
.cherry-animation-container.loading-animation-fade .cherry-animation-list .cherry-animation-item .inner-wrapper {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease; }
.cherry-animation-container.loading-animation-fade .cherry-animation-list .cherry-animation-item.animate-cycle-show .inner-wrapper {
  opacity: 0;
  filter: alpha(opacity=0); }
.cherry-animation-container.loading-animation-fade .cherry-animation-list .cherry-animation-item.animate-cycle-hide .inner-wrapper {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
.cherry-animation-container.loading-animation-scale .cherry-animation-list .cherry-animation-item {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }
  .cherry-animation-container.loading-animation-scale .cherry-animation-list .cherry-animation-item .inner-wrapper {
    opacity: 1;
    filter: alpha(opacity=100);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    -ms-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    transform: translateZ(0px) translateY(0px) rotateX(0deg);
    -webkit-transition: all 0.7s cubic-bezier(0.29, 0.65, 0.64, 0.97);
    transition: all 0.7s cubic-bezier(0.29, 0.65, 0.64, 0.97); }
  .cherry-animation-container.loading-animation-scale .cherry-animation-list .cherry-animation-item.animate-cycle-show .inner-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateZ(-1500px) translateY(50px) rotateX(90deg);
    -ms-transform: translateZ(-1500px) translateY(50px) rotateX(90deg);
    transform: translateZ(-1500px) translateY(50px) rotateX(90deg); }
  .cherry-animation-container.loading-animation-scale .cherry-animation-list .cherry-animation-item.animate-cycle-hide .inner-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
.cherry-animation-container.loading-animation-move-up .cherry-animation-list .cherry-animation-item {
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }
  .cherry-animation-container.loading-animation-move-up .cherry-animation-list .cherry-animation-item .inner-wrapper {
    opacity: 1;
    filter: alpha(opacity=100);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: translateY(0px) translateZ(0) rotateX(0deg);
    -ms-transform: translateY(0px) translateZ(0) rotateX(0deg);
    transform: translateY(0px) translateZ(0) rotateX(0deg);
    -webkit-transition: all 0.8s cubic-bezier(0.29, 0.65, 0.64, 0.97);
    transition: all 0.8s cubic-bezier(0.29, 0.65, 0.64, 0.97); }
  .cherry-animation-container.loading-animation-move-up .cherry-animation-list .cherry-animation-item.animate-cycle-show .inner-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(80px) translateZ(-100px) rotateX(5deg);
    -ms-transform: translateY(80px) translateZ(-100px) rotateX(5deg);
    transform: translateY(80px) translateZ(-100px) rotateX(5deg); }
  .cherry-animation-container.loading-animation-move-up .cherry-animation-list .cherry-animation-item.animate-cycle-hide .inner-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
.cherry-animation-container.loading-animation-flip .cherry-animation-list {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }
  .cherry-animation-container.loading-animation-flip .cherry-animation-list .cherry-animation-item .inner-wrapper {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0px) rotateX(0deg);
    -ms-transform: translateY(0px) rotateX(0deg);
    transform: translateY(0px) rotateX(0deg);
    -webkit-transition: all 0.8s cubic-bezier(0.31, 0.78, 0.39, 0.93);
    transition: all 0.8s cubic-bezier(0.31, 0.78, 0.39, 0.93); }
  .cherry-animation-container.loading-animation-flip .cherry-animation-list .cherry-animation-item.animate-cycle-show .inner-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-50px) rotateX(80deg);
    -ms-transform: translateY(-50px) rotateX(80deg);
    transform: translateY(-50px) rotateX(80deg); }
  .cherry-animation-container.loading-animation-flip .cherry-animation-list .cherry-animation-item.animate-cycle-hide .inner-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
.cherry-animation-container.loading-animation-helix .cherry-animation-list {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }
  .cherry-animation-container.loading-animation-helix .cherry-animation-list .cherry-animation-item .inner-wrapper {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform: translateZ(0px) translateY(0px) rotateY(0deg);
    -ms-transform: translateZ(0px) translateY(0px) rotateY(0deg);
    transform: translateZ(0px) translateY(0px) rotateY(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.8s cubic-bezier(0.29, 0.65, 0.64, 0.97);
    transition: all 0.8s cubic-bezier(0.29, 0.65, 0.64, 0.97); }
  .cherry-animation-container.loading-animation-helix .cherry-animation-list .cherry-animation-item.animate-cycle-show .inner-wrapper {
    -webkit-transform: translateZ(-1000px) translateY(-50px) rotateY(-240deg);
    -ms-transform: translateZ(-1000px) translateY(-50px) rotateY(-240deg);
    transform: translateZ(-1000px) translateY(-50px) rotateY(-240deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  .cherry-animation-container.loading-animation-helix .cherry-animation-list .cherry-animation-item.animate-cycle-hide .inner-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
.cherry-animation-container.loading-animation-fall-perspective .cherry-animation-list {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%; }
  .cherry-animation-container.loading-animation-fall-perspective .cherry-animation-list .cherry-animation-item .inner-wrapper {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    -ms-transform: translateZ(0px) translateY(0px) rotateX(0deg);
    transform: translateZ(0px) translateY(0px) rotateX(0deg);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.8s cubic-bezier(0.29, 0.65, 0.64, 0.97);
    transition: all 0.8s cubic-bezier(0.29, 0.65, 0.64, 0.97); }
  .cherry-animation-container.loading-animation-fall-perspective .cherry-animation-list .cherry-animation-item.animate-cycle-show .inner-wrapper {
    -webkit-transform: translateZ(400px) translateY(300px) rotateX(-65deg);
    -ms-transform: translateZ(400px) translateY(300px) rotateX(-65deg);
    transform: translateZ(400px) translateY(300px) rotateX(-65deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  .cherry-animation-container.loading-animation-fall-perspective .cherry-animation-list .cherry-animation-item.animate-cycle-hide .inner-wrapper {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }

/* 3d mixins */
/* end 3d mixins */
.cherry-projects-single__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
.cherry-projects-single__media {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 60%;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  margin-right: 20px; }
.cherry-projects-single__content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40%;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%; }
.cherry-projects-single-meta {
  margin: 10px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }

.cherry-projects-single-post {
  color: #23282d; }
  .cherry-projects-single-post .featured-image img {
    width: 100%;
    height: auto; }
  .cherry-projects-single-post .post-terms {
    margin: 10px 0; }
  .cherry-projects-single-post .cherry-projects-meta {
    margin: 10px 0; }
  .cherry-projects-single-post .featured-image a, .cherry-projects-single-post .additional-image a {
    display: block;
    position: relative; }
    .cherry-projects-single-post .featured-image a img, .cherry-projects-single-post .additional-image a img {
      width: 100%; }
    .cherry-projects-single-post .featured-image a .cover, .cherry-projects-single-post .additional-image a .cover {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(41, 143, 252, 0.5);
      opacity: 0;
      -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
    .cherry-projects-single-post .featured-image a:hover .cover, .cherry-projects-single-post .additional-image a:hover .cover {
      opacity: 1; }

.cherry-projects-additional-image-list {
  margin-bottom: 20px; }
  .cherry-projects-additional-image-list .additional-image-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    .cherry-projects-additional-image-list .additional-image-list.grid-layout {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
      .cherry-projects-additional-image-list .additional-image-list.grid-layout .image-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
                flex: 0 1 auto; }
    .cherry-projects-additional-image-list .additional-image-list.masonry-layout .image-item {
      display: inline-block; }

.cherry-projects-single-details-list {
  margin-bottom: 20px; }
  .cherry-projects-single-details-list .cherry-projects-details-list-title {
    margin-bottom: 10px; }
  .cherry-projects-single-details-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .cherry-projects-single-details-list ul li {
      color: #96989a;
      margin-bottom: 5px; }
      .cherry-projects-single-details-list ul li span {
        margin-right: 5px;
        color: #23282d; }
      .cherry-projects-single-details-list ul li:last-child {
        margin-bottom: 0; }

.cherry-projects-single-skills-list {
  margin-bottom: 20px; }
  .cherry-projects-single-skills-list ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .cherry-projects-single-skills-list .cherry-skill-item {
    margin-bottom: 10px; }
    .cherry-projects-single-skills-list .cherry-skill-item .skill-label {
      margin-bottom: 5px; }
    .cherry-projects-single-skills-list .cherry-skill-item .skill-bar {
      width: 100%;
      height: 20px;
      background-color: #f1f1f1; }
      .cherry-projects-single-skills-list .cherry-skill-item .skill-bar span {
        height: 20px;
        display: inline-block;
        background-color: #48c569;
        position: relative; }
        .cherry-projects-single-skills-list .cherry-skill-item .skill-bar span em {
          font-size: 12px;
          line-height: 20px;
          float: right; }
    .cherry-projects-single-skills-list .cherry-skill-item:last-child {
      margin-bottom: 10px; }

.cherry-projects-slider__instance {
  margin-bottom: 20px; }
  .cherry-projects-slider__instance .slider-pro {
    background-color: #23282d; }
    .cherry-projects-slider__instance .slider-pro .sp-arrows .sp-arrow:before {
      background-color: #298ffc; }
    .cherry-projects-slider__instance .slider-pro .sp-arrows .sp-arrow:after {
      background-color: #298ffc; }
    .cherry-projects-slider__instance .slider-pro .sp-full-screen-button:before {
      color: #298ffc; }
    .cherry-projects-slider__instance .slider-pro .sp-thumbnails-container {
      background-color: rgba(73, 81, 89, 0.5); }
      .cherry-projects-slider__instance .slider-pro .sp-thumbnails-container .sp-thumbnail-container .sp-thumbnail:hover {
        border: 3px solid #fffffc; }
      .cherry-projects-slider__instance .slider-pro .sp-thumbnails-container .sp-selected-thumbnail .sp-thumbnail {
        border: 3px solid #298ffc; }
      .cherry-projects-slider__instance .slider-pro .sp-thumbnails-container.sp-bottom-thumbnails {
        position: absolute;
        bottom: 0;
        padding: 5px 0; }

.cherry-projects-video-list {
  width: 100%; }

/* 3d mixins */
/* end 3d mixins */
.cherry-projects-terms-wrapper {
  color: #23282d;
  position: relative; }

.projects-terms-container {
  position: relative; }
  .projects-terms-container.grid-layout .projects-terms-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .projects-terms-container.grid-layout .projects-terms-list .projects-terms-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto; }
  .projects-terms-container.masonry-layout .projects-terms-list .projects-terms-item {
    display: inline-block; }
  .projects-terms-container.list-layout .projects-terms-list .projects-terms-item {
    margin-bottom: 20px; }
  .projects-terms-container.list-layout .inner-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .projects-terms-container.list-layout .project-terms-media {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    min-width: 30%;
    margin-right: 20px; }
  .projects-terms-container.list-layout .project-terms-content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    min-width: 70%; }
  .projects-terms-container.cascading-grid-layout .projects-terms-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
            align-content: stretch; }
    .projects-terms-container.cascading-grid-layout .projects-terms-list .projects-terms-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      height: auto; }
  .projects-terms-container .term-permalink span:before {
    content: "\f103"; }

.projects-terms-list {
  position: relative; }

.cherry-projects-wrapper {
  color: #23282d;
  position: relative; }
  .cherry-projects-wrapper .projects-container {
    position: relative;
    z-index: 8; }
  .cherry-projects-wrapper .projects-list {
    position: relative;
    min-height: 100px; }

.projects-item-instance .inner-wrapper {
  position: relative; }
.projects-item-instance .featured-image {
  width: 100%;
  line-height: 0; }
  .projects-item-instance .featured-image img {
    width: 100%;
    height: auto; }
.projects-item-instance .project-media, .projects-item-instance .project-terms-media {
  position: relative; }
.projects-item-instance .project-meta {
  margin: 15px 0; }
.projects-item-instance .project-content, .projects-item-instance .project-terms-media {
  position: relative; }
.projects-item-instance .simple-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #298ffc;
  color: #f1f1f1;
  margin: 5px;
  border-radius: 30px; }
  .projects-item-instance .simple-icon span {
    margin: 5px; }
  .projects-item-instance .simple-icon:hover {
    background-color: #206ff4; }
.projects-item-instance .simple-button {
  display: inline-block;
  padding: 10px;
  background-color: #298ffc;
  color: #f1f1f1; }
.projects-item-instance .hover-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(35, 40, 45, 0.6);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .projects-item-instance .hover-content.row-format {
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  .projects-item-instance .hover-content > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
.projects-item-instance.simple-fade-hover .hover-content {
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .projects-item-instance.simple-fade-hover .hover-content > * {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .projects-item-instance.simple-fade-hover .hover-content:hover {
    opacity: 1; }
    .projects-item-instance.simple-fade-hover .hover-content:hover > * {
      opacity: 1;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(1) {
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(2) {
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(3) {
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(4) {
        -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(5) {
        -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(6) {
        -webkit-transition-delay: 0.6s;
                transition-delay: 0.6s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(7) {
        -webkit-transition-delay: 0.7s;
                transition-delay: 0.7s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(8) {
        -webkit-transition-delay: 0.8s;
                transition-delay: 0.8s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(9) {
        -webkit-transition-delay: 0.9s;
                transition-delay: 0.9s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(10) {
        -webkit-transition-delay: 1s;
                transition-delay: 1s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(11) {
        -webkit-transition-delay: 1.1s;
                transition-delay: 1.1s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(12) {
        -webkit-transition-delay: 1.2s;
                transition-delay: 1.2s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(13) {
        -webkit-transition-delay: 1.3s;
                transition-delay: 1.3s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(14) {
        -webkit-transition-delay: 1.4s;
                transition-delay: 1.4s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(15) {
        -webkit-transition-delay: 1.5s;
                transition-delay: 1.5s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(16) {
        -webkit-transition-delay: 1.6s;
                transition-delay: 1.6s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(17) {
        -webkit-transition-delay: 1.7s;
                transition-delay: 1.7s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(18) {
        -webkit-transition-delay: 1.8s;
                transition-delay: 1.8s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(19) {
        -webkit-transition-delay: 1.9s;
                transition-delay: 1.9s; }
      .projects-item-instance.simple-fade-hover .hover-content:hover > *:nth-child(20) {
        -webkit-transition-delay: 2s;
                transition-delay: 2s; }
.projects-item-instance.simple-scale-hover .hover-content {
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .projects-item-instance.simple-scale-hover .hover-content > * {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
  .projects-item-instance.simple-scale-hover .hover-content:hover {
    opacity: 1; }
    .projects-item-instance.simple-scale-hover .hover-content:hover > * {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(1) {
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(2) {
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(3) {
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(4) {
        -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(5) {
        -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(6) {
        -webkit-transition-delay: 0.6s;
                transition-delay: 0.6s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(7) {
        -webkit-transition-delay: 0.7s;
                transition-delay: 0.7s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(8) {
        -webkit-transition-delay: 0.8s;
                transition-delay: 0.8s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(9) {
        -webkit-transition-delay: 0.9s;
                transition-delay: 0.9s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(10) {
        -webkit-transition-delay: 1s;
                transition-delay: 1s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(11) {
        -webkit-transition-delay: 1.1s;
                transition-delay: 1.1s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(12) {
        -webkit-transition-delay: 1.2s;
                transition-delay: 1.2s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(13) {
        -webkit-transition-delay: 1.3s;
                transition-delay: 1.3s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(14) {
        -webkit-transition-delay: 1.4s;
                transition-delay: 1.4s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(15) {
        -webkit-transition-delay: 1.5s;
                transition-delay: 1.5s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(16) {
        -webkit-transition-delay: 1.6s;
                transition-delay: 1.6s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(17) {
        -webkit-transition-delay: 1.7s;
                transition-delay: 1.7s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(18) {
        -webkit-transition-delay: 1.8s;
                transition-delay: 1.8s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(19) {
        -webkit-transition-delay: 1.9s;
                transition-delay: 1.9s; }
      .projects-item-instance.simple-scale-hover .hover-content:hover > *:nth-child(20) {
        -webkit-transition-delay: 2s;
                transition-delay: 2s; }

.projects-end-line-spinner {
  width: 100%; }
  .projects-end-line-spinner .cherry-spinner {
    width: 70px;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    display: none;
    position: relative; }

.projects-ajax-button-wrapper {
  text-align: center; }
  .projects-ajax-button-wrapper .projects-ajax-button {
    display: inline-block; }
    .projects-ajax-button-wrapper .projects-ajax-button span {
      color: #fff;
      padding: 10px 20px;
      background: #298ffc;
      display: block;
      cursor: pointer; }
    .projects-ajax-button-wrapper .projects-ajax-button:hover span {
      background: #495159; }
    .projects-ajax-button-wrapper .projects-ajax-button.disabled {
      opacity: 0.3;
      filter: alpha(opacity=30); }
      .projects-ajax-button-wrapper .projects-ajax-button.disabled span {
        background: #495159; }

.cherry-projects-ajax-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3); }
  .cherry-projects-ajax-loader .cherry-spinner {
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -45px;
    display: block;
    position: relative; }

.cherry-spinner-double-bounce.cherry-spinner {
  position: relative; }

.cherry-spinner-double-bounce .cherry-double-bounce1, .cherry-spinner-double-bounce .cherry-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #298ffc;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cherry-doubleBounce 2s infinite ease-in-out;
          animation: cherry-doubleBounce 2s infinite ease-in-out; }

.cherry-spinner-double-bounce .cherry-double-bounce2 {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }

@-webkit-keyframes cherry-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@keyframes cherry-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
/*
====== Popap zoom effect ======
*/
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8); }
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0; }
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }
