<div class="cherry-projects-single-meta">
	%%DATE%%
	%%AUTHOR%%
	%%COMMENTS%%
</div>
%%SLIDER%%
<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__media">
		%%FEATUREDIMAGE%%
	</div>
	<div class="cherry-projects-single__content">
		%%SKILLSLIST%%
		%%DETAILSLIST%%
		%%TERMSLIST%%
		%%TITLE%%
		%%CONTENT%%
	</div>
</div>