<div class="project-media">
	%%FEATUREDIMAGE%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	<div class="project-meta">
		%%DATE%%
		%%AUTHOR%%
		%%COMMENTS%%
	</div>
	%%TERMSLIST%%
	%%TITLE%%
	%%CONTENT number_of_words="15"%%
	%%BUTTON%%
</div>
