%%IMAGELIST%%
<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__media">
		%%FEATUREDIMAGE%%
	</div>
	<div class="cherry-projects-single__content">
		%%SKILLSLIST%%
		%%DETAILSLIST%%
		<div class="cherry-projects-single-meta">
			%%DATE%%
			%%AUTHOR%%
			%%COMMENTS%%
		</div>
		%%TERMSLIST%%
		%%TITLE%%
		%%CONTENT%%
	</div>
</div>