<div class="project-media">
	%%FEATUREDIMAGE%%
</div>
<div class="project-content hover-content">
	<div class="project-meta">
		%%DATE%%
		%%AUTHOR%%
		%%COMMENTS%%
	</div>
	%%TERMSLIST%%
	%%TITLE%%
	%%CONTENT number_of_words="15"%%
	%%BUTTON%%
</div>
