<div class="project-media">
	%%FEATUREDIMAGE%%
</div>
<div class="project-meta">
	%%DATE%%
	%%AUTHOR%%
	%%COMMENTS%%
</div>
<div class="project-content">
	%%TERMSLIST%%
	%%TITLE%%
	%%CONTENT%%
	%%BUTTON%%
</div>
