<div class="inner-wrap">
	<div class="media-content">
		%%IMAGE%%
	<div class="rollover-content">
		<div class="table-display">
			<div class="links-container table-cell">%%EXTERNALLINK%% %%ZOOMLINK="Zoom"%% %%PERMALINK="Permalink"%%</div>
		</div>
	</div>
	</div>
	<div class="item-content">
		<h3>%%TITLE%%</h3>
		<div class="item-meta-container">
			<h5>%%TAXONOMY="category"%%</h5>
			<h4>%%DATE="Y - M - d"%% / %%AUTHOR%% / %%COMMENTS%%</h4>
		</div>
		%%CONTENT="25"%%
	</div>
</div>