<div class="cherry-portfolio-single-post cherry-portfolio-standart-post">
	%%IMAGE%%
	<div class="post-content">
		<h3 class="post-title">%%TITLE%%</h3>
		<div class="post-meta-container">%%DATE="d F, Y"%% / %%AUTHOR%% / %%COMMENTS%%</div>
		<p>%%CONTENT%%</p>
		<div class="post-taxonomy-list">%%TAXONOMY="tag"%%</div>
		%%EXTERNALLINK%%
	</div>
</div>