<div class="project-terms-media">
	%%TERMIMAGE%%
	<div class="hover-content row-format">
		%%TERMPERMALINK%%
	</div>
</div>
<div class="project-terms-content">
	%%TERMNAME%%
	%%TERMDESCRIPTION%%
	%%TERMATTACHMENTS%%
</div>

