<div class="inner-wrap">
	<div class="media-content">
		%%IMAGE%%
	</div>
	<div class="item-content rollover-content">
		<div class="item-content-inner table-display">
			<div class="table-cell">
				<h3>%%TITLE%%</h3>%%AUTHOR%%%%COMMENTS%%%%DATE%%
				<div class="item-meta-container">
					<h5>%%TAXONOMY%% %%DATE%% %%AUTHOR%% %%COMMENTS%%</h5>
				</div>
				<div class="links-container">%%EXTERNALLINK%% %%ZOOMLINK="Zoom"%% %%PERMALINK="Permalink"%%</div>
			</div>
		</div>
	</div>
</div>