<div class="inner-wrap">
	<div class="media-content">
		%%IMAGE%%
		<div class="rollover-content">
			<div class="table-display">
				<div class="links-container table-cell">%%EXTERNALLINK%% %%ZOOMLINK="Zoom"%% %%PERMALINK="Permalink"%%</div>
			</div>
		</div>
	</div>
	<div class="item-content">
		%%POSTFORMAT%%
		<div class="item-meta-container">
			%%DATE="Y, m"%% / %%AUTHOR%% / %%COMMENTS%%
		</div>
		<h3><a href="%%URL%%">%%TITLE%%</a></h3>
		<p>%%CONTENT="25"%%</p>
		%%TAXONOMY="category"%%
	</div>
</div>