<div class="cherry-portfolio-single-post cherry-portfolio-gallery-post">
	%%SLIDER%%
	<div class="post-content">
		<h3 class="post-title">%%TITLE%%</h3>
		<div class="post-meta-container">%%DATE="d F, Y"%% / %%AUTHOR%% / %%COMMENTS%%</div>
		%%CONTENT%%
		<div class="post-taxonomy-list">%%TAXONOMY="tag"%%</div>
		%%EXTERNALLINK%%
	</div>
</div>