@import "tm_mixins";

.projects-pagination{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 20px 0;
		ul.page-link{
			flex: 0 1 auto;
			list-style: none;
			margin: 0;
				li{
					float: left;
					margin: 0 2px;
						&.active{
							span{
								color: $blue_color;
							}
						}
						span{
							line-height: 30px;
							color: $dark_color_1;
							padding: 5px 10px;
							text-decoration: none;
							cursor: pointer;
								&:hover{
									color: $blue_color;
								}
						}
				}
		}
		.page-navigation{
			flex: 0 1 auto;
				span{
					line-height: 30px;
					color: $dark_color_1;
					padding: 5px 10px;
					margin: 0 2px;
					cursor: pointer;
						&:hover{
							color: $blue_color;
						}
						&.prev-page{

						}
						&.next-page{

						}
				}
		}
}
