@import "tm_mixins";

.cherry-projects-single{
	&__container{
		display: flex;
		flex-flow: row nowrap;
	}
	&__media{
		flex: 0 1 60%;
		margin-right: 20px;
	}
	&__content{
		flex: 0 1 40%;
	}
	&-meta{
		margin: 10px 0;
		border-top: 1px solid $grey_color_2;
		border-bottom: 1px solid $grey_color_2;
	}
}
.cherry-projects-single-post{
	color: $dark_color_1;
	.featured-image{
		img{
			width: 100%;
			height: auto;
		}
	}
	.post-terms{
		margin: 10px 0;
	}
	.cherry-projects-meta{
		margin: 10px 0;
	}
	.featured-image, .additional-image{
		a{
			display: block;
			position: relative;
			img{
				width: 100%;
			}
			.cover{
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
				background-color: rgba(41, 143, 252, 0.5);
				opacity: 0;
				transition: all 0.3s ease-in-out;
			}
			&:hover{
				.cover{
					opacity: 1;
				}
			}
		}
	}
}

.cherry-projects-single-post-format-standard{

}

.cherry-projects-single-post-format-image{

}

.cherry-projects-additional-image-list{
	margin-bottom: 20px;
	.additional-image-list{
		list-style: none;
		margin: 0;
		padding: 0;
			.image-item{}
			&.grid-layout{
				display: flex;
				flex-flow: row wrap;
					.image-item{
						flex: 0 1 auto;
					}
			}
			&.masonry-layout{
				.image-item{
					display: inline-block;
				}
			}
	}
}

.cherry-projects-single-details-list{
	margin-bottom: 20px;
	.cherry-projects-details-list-title{
		margin-bottom: 10px;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
			li{
				color: $grey_color_1;
				margin-bottom: 5px;
				span{
					margin-right: 5px;
					color: $dark_color_1;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
	}
}

.cherry-projects-single-skills-list{
	margin-bottom: 20px;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.cherry-skill-item{
		margin-bottom: 10px;
		.skill-label{
			margin-bottom: 5px;
		}
		.skill-bar{
			width: 100%;
			height: 20px;
			background-color: $grey_color_3;
				span{
					height: 20px;
					display: inline-block;
					background-color: $green_color;
					position: relative;
						em{
							font-size: 12px;
							line-height: 20px;
							float: right;
						}
				}
		}
		&:last-child{
			margin-bottom: 10px;
		}
	}
}

.cherry-projects-slider__instance{
	margin-bottom: 20px;
	.slider-pro{
		background-color: $dark_color_1;
		.sp-arrows{
			.sp-arrow{
				&:before{
					background-color: $blue_color;
				}
				&:after{
					background-color: $blue_color;
				}
			}
		}
		.sp-full-screen-button{
			&:before{
				color: $blue_color;
			}
		}
		.sp-thumbnails-container{
			background-color: rgba(73, 81, 89, 0.5);
			.sp-thumbnail-container{
				.sp-thumbnail{
					&:hover{
						border: 3px solid rgba(255,255,252,1);
					}
				}
			}
			.sp-selected-thumbnail{
				.sp-thumbnail{
					border: 3px solid rgba(41,143,252,1);
				}
			}
			&.sp-bottom-thumbnails{
				position: absolute;
				bottom: 0;
				padding: 5px 0;
			}
		}
	}
}

.cherry-projects-video-list{
	width: 100%;

}