@import "tm_mixins";

.cherry-projects-single{
	display: flex;
	flex-flow: row nowrap;
	&__media{
		flex: 0 1 50%;
	}
	&__content{
		flex: 0 1 50%;
	}
}
.cherry-projects-single-post{
	color: $dark_color_1;
	.featured-image{
		margin-right: 20px;
		img{
			width: 100%;
			height: auto;
		}
	}
	.post-terms{
		margin: 10px 0;
	}
	.cherry-projects-meta{
		margin: 10px 0;
	}
	.cherry-projects-single-details-list{
		margin-bottom: 20px;
		.cherry-projects-details-list-title{
			margin-bottom: 10px;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
				li{
					color: $grey_color_1;
					margin-bottom: 5px;
					span{
						margin-right: 5px;
						color: $dark_color_1;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
		}
	}
}
