$dark_color_1: #23282d;
$dark_color_2: #495159;
$grey_color_1: #96989a;
$grey_color_2: #e5e5e5;
$grey_color_3: #f1f1f1;
$blue_color: #298ffc;
$green_color: #48c569;
$red_color: #e54343;
$orange_color: #faa730;