@import "tm_mixins";
@import "variables";
@import "filters";
@import "pagination";
@import "grid-layout";
@import "masonry-layout";
@import "justified-layout";
@import "list-layout";
@import "animation-layout";

div.cherry-projects-wrapper{
	color: $dark_color_1;
	border-bottom: 1px solid #000;
		.projects-container{
			position: relative;
			z-index: 8;
		}
		.projects-list{
			position: relative;
			min-height: 100px;
		}
}

div.projects-item{
	.inner-wrapper{
		position: relative;
			/*.media-content{
				position: relative;
				display: block;
				overflow: hidden;
					img{
						width: 100%;
						height: auto;
					}
			}
			.item-content{
				.item-meta-container{}
			}
			.thumbnailset{
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					float: left;
					img{
						width: auto;
						height: auto;
					}
				}
			}
			.post-format{
				display: block;
				margin: 5px 0;
			}
			.links-container{
				.item-link{
					border: 2px solid #fff;
					color: #fff;
					padding: 5px 10px;
					margin: 2px;
					display: inline-block;
						&:hover{
							text-decoration: none;
						}
				}
			}
			.rollover-content{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.3);
				text-align: center;
			}
			.table-display{
				display: table;
				width: 100%;
				height: 100%;
			}
			.table-cell{
				display: table-cell;
				vertical-align: middle;
			}*/
	}
	/*&.simple-fade-hover{
		.rollover-content{
			opacity: 0;
			-webkit-transition: all 0.5s ease-out;
					transition: all 0.5s ease-out;
			&:hover{
				opacity: 1;
			}
		}
	}
	&.simple-scale-hover{
		.media-content{
			img{
				-webkit-transition: all 0.5s ease-out;
						transition: all 0.5s ease-out;
			}
		}
		.rollover-content{
			opacity: 0;
			-webkit-transform: scale(1.2);
					transform: scale(1.2);
			-webkit-transition: all 0.5s ease-out;
					transition: all 0.5s ease-out;
			&:hover{
				opacity: 1;
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}
	}*/
}


.projects-end-line-spinner{
	width: 100%;
	.cherry-spinner{
		width: 70px;
		height: 70px;
		left: 50%;
		margin-left: -35px;
		display: none;
		position: relative;
	}
}

.projects-ajax-button-wrapper{
	text-align: center;
		.projects-ajax-button{
			display: inline-block;
				span{
					color: #fff;
					padding: 10px 20px;
					background: $blue_color;
					display: block;
					cursor: pointer;
				}
				&:hover{
					span{
						background: $dark_color_2;
					}
				}
				&.disabled{
					@include opacity(0.3);
						span{
							background: $dark_color_2;
						}
				}
		}
}

.cherry-projects-ajax-loader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 999;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.3);
		.cherry-spinner{
			width: 90px;
			height: 90px;
			left: 50%;
			top: 50%;
			margin-left: -45px;
			margin-top: -45px;
			display: block;
			position: relative;
		}
}

.cherry-spinner-double-bounce.cherry-spinner {
	position: relative;
}
.cherry-spinner-double-bounce .cherry-double-bounce1, .cherry-spinner-double-bounce .cherry-double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: $blue_color;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	animation: cherry-doubleBounce 2s infinite ease-in-out;
}
.cherry-spinner-double-bounce .cherry-double-bounce2 {
	animation-delay: -1s;
}
@-webkit-keyframes cherry-doubleBounce {
	0%, 100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}
@keyframes cherry-doubleBounce {
	0%, 100% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
}


/*
====== Popap zoom effect ======
*/
.mfp-zoom-in {
	.mfp-with-anim {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}
	&.mfp-bg {
		opacity: 0;
		transition: all 0.3s ease-out;
	}
	&.mfp-ready {
		.mfp-with-anim {
			opacity: 1;
			transform: scale(1);
		}
		&.mfp-bg {
			opacity: 0.8;
		}
	}
	&.mfp-removing {
		.mfp-with-anim {
			transform: scale(0.8);
			opacity: 0;
		}
		&.mfp-bg {
			opacity: 0;
		}
	}
}
